* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #f1f1f1;
}
.App-header {
	background-color: #282c34;
	display: flex;
	padding: 25px 10px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-title {
	color: #ffffff;
}

.row {
	margin: 15px;
}

.w-100 {
	width: 100%;
	padding: 20px;
}
th,
td {
	padding: 10px;
}
